version: "3"

services:
  # golang:
  #   container_name: "task-flow-golang-${APP_ID}"
  #   image: golang:alpine
  #   working_dir: /go/src/
  #   ports:
  #     - "${SERVER_PORT}:${SERVER_PORT}"
  #   stdin_open: true
  #   tty: true
  #   volumes:
  #     - ./:/go/src/
  #   networks:
  #     network:
  #       ipv4_address: 10.16.18.3
  #   restart: always

  workflow:
    container_name: "task-flow-workflow-${APP_ID}"
    image: "hitosea2020/go-workflow:1.0.0"
    ports:
      - "${SERVER_PORT}:80"
    environment:
      TZ: "Asia/Shanghai"
      MYSQL_HOST: "${MYSQL_HOST}"
      MYSQL_PORT: "${MYSQL_PORT}"
      MYSQL_DBNAME: "${MYSQL_DBNAME}"
      MYSQL_USERNAME: "${MYSQL_USERNAME}"
      MYSQL_PASSWORD: "${MYSQL_PASSWORD}"
      MYSQL_Prefix: "${MYSQL_Prefix}"
    networks:
      network:
        ipv4_address: 10.16.18.6
    restart: always

networks:
  network:
    name: "task-flow-network"
    ipam:
      config:
        - subnet: 10.16.18.0/24
          gateway: 10.16.18.1
